<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>UniRecords</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<h1><a href="{{ url_for('home') }}" class="no-link-style">UniRecords</h1></a>
    <ul>
        <li style="float:left;"><a href="{{ url_for('search') }}" class="no-link-style">Search</a></li>
        <li style="float:left;"><a href="{{ url_for('reports') }}" class="no-link-style">Reports</a></li>

    </ul>

    <body>
        {% block content %}{% endblock %}
    </body>

    </html>
