{% extends "base.html" %}

{% block content %}

<body>
    <h2>Reports</h2>

    <h4>This section allows you to select from a number of pre-prepared reports.</h4>
    
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      
      <tr>
        <td>Unregistered Students (this semester)</td>
        <td>Generates a report of Students with no courses registered for this semester</td>
        <td>View</td>
      </tr>

      <tr>
        <td>Report 2</td>
        <td></td>
        <td>View</td>
      </tr>

      <tr>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      
    </table>


{% endblock %}