{% extends "base.html" %}

{% block content %}

<body>
    <h2>Student Search</h2>
    <h4>Find Student Details here</h4>
    <form method="get">
    <label for="id">ID:</label>
    <input type="text" name="student_ID" id="student_ID" value="{{ request.args.get('student_ID', '') }}">
    <br>
    <label for="surname">Surname:</label>
    <input type="text" name="surname" id="surname" value="{{ request.args.get('surname', '') }}">
    <br>
    <input type="submit" value="Search">
  </form>

  {% if results %}
    <h3>Search Results:</h3>
    <table border="1">
      <thead>
        <tr>
          {% for col in col_names %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in results %}
        <tr>
          {% for item in row %}
            {% if loop.first %}
          <td><a href="{{ url_for('viewstudent', student_id=item) }}">{{ item }}</a></td>
            {% else %}
              <td>{{ item }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% elif request.args %}
    <p>No results found.</p>
  {% endif %}

{% endblock %}